<div class="wrapper text-center">

  <h2><%= @question %></h2>
  <p> - You </p>

</div>

<div class="wrapper text-center">

  <h2> <%=  @answer %></h2>
  <p> - Your coach </p>

</div>

<div class"text-center">
  <p><%= link_to "Ask a new question",  "/ask.html" %></p>
</div>
