<form action="/answer" class="text-center">
  <label for="question" class="header"><h2>Speak to your coach</h2></label><br>
  <input type="text" id="question" name="query" placeholder="what time is it?"><br>
  <input type="submit" class="btn btn-primary" value="Go on!">
</form>
